/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map {
    height: 60%;
    width: 100%;
    position: relative;
    z-index: 10;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 780px)  {
    .navbar-brand{
        width: 200px;
    }
    .placeholder {
        height: 600px;
        padding-left: 5%;
        padding-right: 5%;
        /*background: linear-gradient(to bottom, #669999 0%, #ccffff 100%)*/
        background-color: #FAFAFA;
    }
}


@media screen and (min-width: 780px){
    .placeholder {
        height: 700px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 20px;
        background-color: #FAFAFA;
    }

}


a:hover{
    text-decoration: underline;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}