body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


.picture-area{
    width:100%;
}


@media (max-width: 600px){
  .header{
    font-size: 20px;
  }
  .information{
    font-size: 10px;
  }
}

.header{
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
  color:black;
  text-align: center;
}

.information{
  padding-bottom: 15px;
  font-size: 15px;
  color:grey;
  text-align: center;
}


* {
    box-sizing: border-box;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}

.container-email {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col {
    margin:10px auto;
    width: 70%;
}

.validation-area{
  width: 100%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
   .col, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}