footer {
    width: 100%;
    height:auto;
    background-color: #FAFAFA;
    opacity: 0.8;


}

footer .items{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

footer .items a{
    color: #333333;
}

footer .items span{
    color:dimgrey;
}

@media(min-width:600px) {
    footer .container {
        padding: 0 150px;
    }
}
.copyright {
    text-align: center;
    padding-bottom: 20px;
    opacity: 0.4;
    font-family: 'Montserrat', sans-serif;
}